extends layout.pug

block content
  h2 Your Cart

  if !cartItems || cartItems.length === 0
    p Your cart is empty.
  else
    table.cart-table
      thead
        tr
          th Product
          th Price
          th Quantity
          
      tbody
        each item in cartItems
          tr
            td= item.product_name
            td $#{item.price}
            td= item.quantity

    h3 Total: $#{total}





    a.button(href="/products") ← Continue Shopping
