doctype html
html
  head
    title Ecommerce Store
    link(rel="stylesheet", href="stylesheets/styles.css")
  body
    header
      h1 My Store
      nav
        a(href="/") Home
        |   |  
        a(href="/products") Products

    main
      block content

    footer
      p &copy; #{new Date().getFullYear()} My Store
